-- Script SQL untuk membuat database SEVANI dari awal

-- Buat database
CREATE DATABASE IF NOT EXISTS sevani_db;
USE sevani_db;

-- Tabel users
CREATE TABLE users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    nama VARCHAR(100) NOT NULL,
    kelas VARCHAR(50) NOT NULL,
    no_absen VARCHAR(10),
    agama VARCHAR(20),
    nip_nisn VARCHAR(50) UNIQUE NOT NULL,
    password VARCHAR(255) NOT NULL,
    jenis_kelamin VARCHAR(20) DEFAULT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Tabel journals
CREATE TABLE journals (
    id VARCHAR(50) PRIMARY KEY,
    user_id INT NOT NULL,
    tanggal DATE NOT NULL,
    title VARCHAR(255),
    subject VARCHAR(100),
    category VARCHAR(50),
    mood VARCHAR(50),
    rating INT,
    content TEXT,
    keypoints TEXT,
    questions TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE
);

-- Tabel daily_habits
CREATE TABLE daily_habits (
    id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT NOT NULL,
    tanggal DATE NOT NULL,
    habit_data JSON NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    UNIQUE KEY unique_user_date (user_id, tanggal),
    FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE
);

-- Note: Ganti password hash dengan yang valid menggunakan password_hash() di PHP
